.redText {
    color: red;
}

h1 {
    color: royalblue;
    font-weight: bold;
}

.formParticipate {
    background-color: thistle;
    margin-top: 60px;
}

.finished-text {
    font-weight: bold;
    font-size: 30px;
}